.add-edit-article {
    .form-flex.row-always {
        flex-direction: row;
    }
    .form-label {
        flex-shrink: 0;
        width: 60px;
    }
    .content-editor {
        flex-grow: 1;
    }
}

@media screen and (max-width: 640px) {
    .add-edit-article {
        .form-label {
            width: auto;
        }
    }
}