@import "../../common/minxinVariable";
.add-edit-article {
    .form-flex.row-always {
        flex-direction: row;
    }
    .form-label {
        flex-shrink: 0;
        width: 60px;
    }
    .content-editor {
        flex-grow: 1;
    }
    .classification{
        display: flex;
        select {
            flex-grow: 1;
        }
    }
    .upload-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        @include fixed_fullscreen();
        background-color: rgba(0,0,0,.1);
        transition: all .3s;
        .close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 50%;
            text-align: center;
            font-size: 20px;
            background-color: $dangerColor;
            transition: all .3s;
            color: #fff;

            &:hover {
                background-color: $dangerHoverColor;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .add-edit-article {
        .form-label {
            width: auto;
        }
    }
}

.slide-top-in-enter,
.slide-top-in-leave-to {
    transform: translateY(-100%);
}
.slide-top-in-enter-to,
.slide-top-in-leave {
    transform: translateY(0);
}