@mixin fixed_fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-mask {
    @include fixed_fullscreen();
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}

.message-box-wrapper {
    display: flex;
    @include fixed_fullscreen();
    justify-content: center;
    z-index: 100;

    .message-box {
        position: absolute;
        top: 100px;
        width: 360px;
        border-radius: 5px;
        background-color: #fff;
        animation: scale .3s;
    }

    .message-box-header,
    .message-box-content,
    .message-box-footer {
        padding: 10px;
    }

    .message-box-close {
        display: flex;
        float: right;
        width: 16px;
        height: 16px;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
        }
        path {
            fill: #666;
            transition: all .3s;
        }
        &:hover {
            path {
                fill: #40a9ff;
            }
        }
    }

    .message-box-content {
        padding: 0 10px;
    }

    .message-box-footer {
        display: flex;
        justify-content: flex-end;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}