@import "../minxinVariable";

.modal-mask {
    @include fixed_fullscreen();
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}

.message-box-wrapper {
    display: flex;
    @include fixed_fullscreen();
    justify-content: center;
    z-index: 100;
    .message-box {
        position: absolute;
        top: 100px;
        width: 360px;
        border-radius: 5px;
        background-color: #fff;
        animation: scale .3s;
    }
    .message-box-header,
    .message-box-content,
    .message-box-footer {
        padding: 10px;
    }
    .message-box-close {
        float: right;
        width: 16px;
        height: 16px;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
        }
        path {
            fill: #666;
            transition: all .3s;
        }
        &:hover {
            path {
                fill: $primaryHoverColor;
            }
        }
    }
    .message-box-content {
        padding: 0 10px;
    }
    .message-box-footer {
        display: flex;
        justify-content: flex-end;
    }
}

@keyframes scale {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    .message-box-close {
        display: none;
    }
    .message-box-wrapper {
        align-items: center;
        text-align: center;
        .message-box {
            top: initial;
            width: 90%;
        }
        .message-box-footer {
            padding: 0;
            margin-top: 10px;
            border-top: 1px solid $defaultColor;
            .v-btn {
                flex-grow: 1;
                padding: 5px 10px;
                height: auto;
                border-color: transparent;
                border-radius: 0;
                background-color: transparent;
                color: $defaultTextColor;
                &+.v-btn {
                    border-left-color: $defaultColor;
                }
            }
            .v-btn-primary {
                color: $primaryColor;
            }
        }
    }
}