@import "../minxinVariable";
.v-btn {
    padding: 0 10px;
    height: $inputHeight;
    line-height: $inputHeight;
    border: 1px solid $defaultColor;
    border-radius: 3px;
    color: $defaultTextColor;
    background-color: $defaultBg;
    -webkit-user-select: none;
    user-select: none;
    transition: all .3s;
    cursor: pointer;
    &:hover,
    &:focus {
        border-color: $primaryHoverColor;
        color: $primaryHoverColor;
    }
    &:active {
        border-color: $primaryActiveColor;
        color: $primaryActiveColor;
    }
    &.v-btn-primary {
        border-color: $primaryColor;
        color: #fff;
        background-color: $primaryColor;
        &:hover,
        &:focus {
            border-color: $primaryHoverColor;
            background-color: $primaryHoverColor;
        }
        &:active {
            border-color: $primaryActiveColor;
            background-color: $primaryActiveColor;
        }
    }
}