$errorColor: #ff4d4f;

.v-form-item-wrapper {
    &.v-form-item-wrapper + .v-form-item-wrapper {
        margin-top: 20px;
    }
    .v-input {
        display: block;
        width: 100%;
    }

    &.error .v-input {
        border-color: $errorColor;

        &:focus {
            box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
        }
    }

    .error-msg {
        position: absolute;
        color: $errorColor;
        font-size: 12px;
    }
}