@import "../styles/variables";

.album-container {
    display: flex;
    flex-wrap: wrap;

    .album-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 25%;
        padding: 20px 10px;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        .img-wrapper {
            display: flex;
            align-items: center;
            margin: 0 auto;
            width: 160px;
            height: 160px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        dl {
            width: 100%;
        }

        .img-num {
            color: #999;
            font-size: 12px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }

    .add-album {
        color: #aaa;

        &:hover {
            color: $primaryColor;
            background-color: transparent;
        }
    }

    .folder-icon {
        font-size: 66px;
    }
}

@mixin width($w) {
    .responsive {
        .album-container {
            .album-item {
                width: $w;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    @include width(33.3333333%);
}

@media screen and (max-width: 600px) {
    @include width(50%);
}

@media screen and (max-width: 360px) {
    @include width(100%);

    .responsive {
        .album-container {
            .album-item .img-wrapper {
                width: 180px;
                height: 180px;
            }
        }
    }
}