@import "../styles/variables";

.album-container {
    display: flex;
    flex-wrap: wrap;

    .album-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 16.666666666%;
        padding: 20px 10px;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        dl {
            width: 100%;
        }

        .img-num {
            color: #999;
            font-size: 12px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }

    .add-album {
        color: #aaa;

        &:hover {
            color: $primaryColor;
            background-color: transparent;
        }
    }

    .folder-icon {
        font-size: 66px;
    }
}

@media screen and (max-width: 640px) {
    .responsive {
        .album-container {
            .album-item {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .responsive {
        .album-container {
            .album-item {
                width: 33.333333%;
            }
        }
    }
}