.ql-editor {
    height: 420px;
    background-color: #fff;
}

.ql-container {
    font-size: 14px;
}

.ql-editor .ql-size-f12,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f12]::before {
    font-size: 12px;
}

.ql-editor .ql-size-f16,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f16]::before {
    font-size: 16px;
}

.ql-editor .ql-size-f18,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f18]::before {
    font-size: 18px;
}

.ql-editor .ql-size-f20,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f20]::before {
    font-size: 20px;
}

.ql-editor .ql-size-f24,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f24]::before {
    font-size: 24px;
}

.ql-editor .ql-size-f28,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f28]::before {
    font-size: 28px;
}

.ql-editor .ql-size-f30,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f30]::before {
    font-size: 30px;
}

.ql-editor .ql-size-f32,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=f32]::before {
    font-size: 32px;
}

.ql-editor .ql-font-simsun,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=simsun]::before {
    font-family: SimSun, "PingFang SC", "Hiragino Sans GB", "Heiti SC", ;
}

.ql-editor .ql-font-consolas,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=consolas]::before {
    font-family: Consolas, Monoco, "Courier New", monospace;
}

.ql-editor .ql-font-arial,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=arial]::before {
    font-family: Helvetica, Tahoma, Arial;
}

.ql-editor .ql-font-yahei,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=yahei]::before {
    font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    content: "确定";
}