.article-list {
    $color: #999;

    .no-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        color: $color;

        span {
            margin: 0 10px;
        }

    }
}