.article-list {
    $color: #999;

    .no-more {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        color: $color;

        span {
            margin: 0 10px;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 100px;
            height: 1px;
            background-color: $color;
        }
    }
}