.comment-editor {
    textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        resize: none;
        outline: none;
    }
}

.comment-editor-wrapper {
    .error-msg {
        margin-left: 15px;
    }
}