.comment-editor {
    textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        resize: none;
        outline: none;
    }
}

.comment-editor-wrapper {
    .info-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .red {
        color: red;
    }
    .error-msg {
        margin-left: 15px;
    }
}