.edit-album-dialog {
    .form-row {
        display: flex;
        width: 360px;
        align-items: center;
        margin-bottom: 15px;

        textarea {
            overflow: hidden;
            padding: 6px;
        }

        .label-text {
            width: 20%;
        }

        .form-control {
            flex: 1;
        }
    }

    .dialog-content {
        overflow: visible;
        padding: 0 20px;
    }
}