.bottom-loading-wrapper {
    $size: 8px;
    $bg: #999;
    $animation: bounce .5s linear infinite alternate;
    margin: 15px;
    display: flex;
    justify-content: center;
    
    .bottom-loading {
        position: relative;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $bg;
        transform: translateY(-100%);
        animation: $animation;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: $size;
            height: $size;
            border-radius: inherit;
            background-color: $bg;
            animation: $animation;
        }

        &::before {
            right: #{1.5 * $size};
            animation-delay: .1s;
        }

        &::after {
            left: #{1.5 * $size};
            animation-delay: -.1s;
        }
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(50%);
    }
}