.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
    transform: translate(-50%, -70%);
    opacity: .9;
    .daily-sentence {
        width: 260px;
        margin-bottom: 30px;
        text-shadow: 0 1px rgba(24, 144, 255, 0.1), 0 0 5px rgba(24, 144, 255, 0.2);
        font-size: 18px;
        text-align: justify;
    }
    .input-wrapper {
        position: relative;
        border: 1px solid #d9d9d9;
        margin-bottom: 30px;
        height: 36px;
        transition: box-shadow .3s ease, border-color .3s ease .3s;
        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border: 1px solid #62aaee; //border is 1px, when not focused, pseudo element have two point at top left and bottom right,
            //when blured set opacity tansition 0s and delay .5s(after width and height transition), make the points invisible
            transition: width .5s ease, height .5s ease, opacity 0s ease .5s;
            z-index: -1;
            opacity: 0;
        }
        &::before {
            left: 0;
            top: 0;
            border-right: none;
            border-bottom: none;
        }
        &::after {
            right: 0;
            bottom: 0;
            border-left: none;
            border-top: none;
        }
        &.focused {
            border-color: transparent;
            box-shadow: 0 0 5px 1px rgba(24, 144, 255, 0.2);
            transition-delay: .5s;
            &::before,
            &::after {
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: width .5s ease, height .5s ease;
            }
        }
        input {
            width: 260px;
            height: 100%;
            padding: 0 10px;
            border: none;
            background-color: transparent;
        }
    }
    .v-btn {
        width: 100%;
        height: 36px;
        line-height: 36px;
    }
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #282537;
    background-image: radial-gradient(circle at left top, #3c3b52 0%, #252233 80%);
    background-size: cover;
    background-position: 0 0, 0 -129px;
    background-repeat: no-repeat;
    transition: all .3s;
    &.focused {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
}

.copyright {
    position: fixed;
    right: 36px;
    bottom: 36px;
    font-size: 12px;
    path {
        fill: #666;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        color: #fff;
        transition: all .3s;
        opacity: 0;
    }
    &::before {
        transform: translate(-100%, -50%);
        border: 8px solid transparent;
        border-left-color: rgba(0, 0, 0, .6);
    }
    &::after {
        content: attr(title);
        transform: translate(calc(-100% - 15px), -50%);
        background-color: rgba(0, 0, 0, .6);
        padding: 5px;
        border-radius: 3px;
        width: 16em;
    }

    &:active {
        &::before,
        &::after {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 640px) {
    .login-box {
        width: 90%;
        padding: 15px;
        .input-wrapper {
            margin-bottom: 15px;
        }
        .daily-sentence,
        .input-wrapper input {
            width: 100%;
        }
    }
}