$defaultTextColor: #333;
$defaultBorderColor: #d9d9d9;

$primaryColor: #2196f3;
$errorColor: #d32f2f;
$infoColor: #1976d2; 
$successColor: #43a047;

$maxResolution: 640px;
$maxPageWidth: 1000px;


@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}