.comment-item-wrapper {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed #aaa;

    .comment-details {
        margin-left: 10px;
        flex-grow: 1;
        .user-link {
            color: #333;
        }
        .reply-text {
            color: #999;
        }
    }
    .comment-content {
        padding: 10px 0;
    }
    .other {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        span {
            color: #999;
        }
        .reply + .reply {
            margin-left: 10px;
        }
    }
    .avatar img {
        width: 64px;
        height: 64px;
    }
}