@import "../../common/minxinVariable";
.article-list {
    border: 1px solid $defaultColor;
    li {
        display: flex;
        padding: 10px 0;
        text-align: center;
        &+li {
            border-top: 1px solid $defaultColor;
        }
        &:first-child {
            font-weight: bold;
        }
        > span {
            flex-shrink: 0;
            &:nth-child(1),
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3),
            &:nth-child(5) {
                width: 10%;
            }
            &:nth-child(4) {
                width: 22%;
            }
            &:last-child {
                flex-grow: 1;
            }
            a {
                padding: 0 3px;
                color: $primaryColor;
                &:hover {
                    color: $primaryHoverColor;
                }
                &.del {
                    color: $dangerColor;
                    &:hover {
                        color: $dangerHoverColor
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .article-list li span {
        display: none;
        &:first-child,
        &:last-child {
            display: block;
            width: 50%;
        }
        a {
            padding: 0 5px;
        }
    }
}
