@import "../../common/minxinVariable";
.classify-container {
    $border: 1px solid #dfe6ec;
    .cls-list {
        border: $border;
        $bg: #eef1f6;
        > li {
            div {
                display: flex;
                line-height: 50px;
            }
            &:first-child {
                font-weight: bold;
                background-color: $bg;
                ~li {
                    border-top: $border;
                    &:hover {
                        background-color: $bg;
                    }
                }
            }
            ul {
                background-color: #dfe6ec;
            }
            span {
                padding: 0 5px;
                &:first-child {
                    width: 40%;
                    @include ellipsis;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:last-child {
                    width: 15%;
                }
            }
            .expand {
                display: inline-block;
                width: 32px;
                text-align: center;
                svg {
                    transition: all .3s;
                    vertical-align: middle;
                }
            }
            &.expanded {
                > div {
                    position: relative;
                    box-shadow: 0 1px 3px 0 #ccc;
                    z-index: 2;
                }
                .expand svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}