@import "../../common/minxinVariable";
.classify-container {
    $border: 1px solid #dfe6ec;
    .cls-list {
        line-height: 50px;
        border: $border;
        $bg: #eef1f6;
        >li {
            div {
                display: flex;
            }
            &:first-child {
                font-weight: bold;
                background-color: $bg;
                ~li {
                    border-top: $border;
                    &:hover {
                        background-color: $bg;
                    }
                }
            }
            span {
                padding: 0 5px;
                &:first-child {
                    width: 40%;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:last-child {
                    width: 15%;
                }
            }
            .expand {
                display: inline-block;
                width: 32px;
                text-align: center;
                svg {
                    transition: all .3s;
                    vertical-align: middle;
                }
            }
            &.expanded {
                >div {
                    position: relative;
                    box-shadow: 0 1px 3px 0 #ccc;
                    z-index: 2;
                }
                .expand svg {
                    transform: rotate(90deg);
                }
            }
        }
        .edit, .add {
            color: $primaryColor;
            margin-right: 5px;
        }
        .del {
            color: $dangerColor;
        }
        .sub-cls {
            background-color: #dfe6ec;
            transition: all .3s;
            transform-origin: top center;
            li ~ li {
                border-top: 1px solid $defaultColor;;
            }
        }
        .v-input {
            width: 100%;
            background-color: transparent;
            border-color: transparent;
            &:focus {
                background-color: #fff;
                border-color: $primaryColor;
            }
        }
    }
    .add-btn {
        padding: 10px;
        justify-content: center;
        .v-btn {
            padding: 0 15px;
            border-style: dashed;
        }
    }
}

.scale-in-enter,
.scale-in-leave-to {
    transform: scaleY(0);
}

.scale-in-enter-to,
.scale-in-leave {
    transform: scaleY(1);
}

@media screen and (max-width: 640px) {
    .classify-container .cls-list {
        li {
            span {
                &:not(:first-child):not(:last-child) {
                    display: none;
                }
                &:first-child {
                    width: 55%;
                }
                &:last-child {
                    width: 45%;
                }
            }
        }
    }
}