@import "../../common/styles/variables";

.article-container {
    display: flex;
    padding: 10px 0;

    .article-list {
        flex: 1;
    }

    .right-info {
        width: 280px;
    }
}

@media screen and (max-width: #{$maxResolution}) {
    .right-info {
        display: none;
    }
}