.cls-wrapper {
    display: flex;
    flex-wrap: wrap;
    .cls-card {
        width: 22.5%;
        margin-left: 2%;
        margin-top: 2%;
    }

    .cls-operate {
        display: flex;
        justify-content: flex-end;
    }
}