.cls-wrapper {
    display: flex;
    flex-wrap: wrap;
    .cls-card {
        width: 230px;
        margin: 10px;
    }

    .cls-operate {
        display: flex;
        justify-content: flex-end;
    }
}