.article-info {
    display: flex;
    flex-direction: column;
   .base-info {
        margin: 10px 0;
        font-size: 12px;
        text-align: center;
        color: #777;
    }
    .article-content {
        white-space: pre-wrap;
    }
}