@import "../../common/styles/variables";

.article-container {
    display: flex;
    padding: 10px 0;

    .article-card {
        & ~ .article-card {
            margin-top: 15px;
        }
    }

    .article-list {
        flex: 1;
    }

    .right-info {
        width: 200px;
    }
}

@media screen and (max-width: #{$maxResolution}) {
    .right-info {
        display: none;
    }
}