.right-info {
    margin-left: 10px;

    .personal-info {
        padding: 10px;
        background-color: #fff;
    }

    .sentence {
        img {
            max-width: 100%;
        }

        p {
            margin: 5px 0;
            text-shadow: 0 0 3px rgba(33, 150, 243, .5);
            text-align: justify;
        }
    }

    .social {
        margin-top: 10px;
    }

    .calendar-wrapper {
        margin-top: 10px;
    }
}