<link rel="stylesheet" href="/styles/comment.css">
<div class="top-title">评论管理</div>
<table class="comment-table table table-striped">
    <thead>
        <tr>
            <th>原文章</th>
            <th>评论内容</th>
            <th>评论人</th>
            <th>评论时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<ul id="pagination" class="d-none pagination justify-content-center">
    <li class="page-item prev">
        <a class="page-link to-prev" href="javascript: void 0;">上一页</a>
    </li>
    <li class="page-item next">
        <a class="page-link to-next" href="javascript: void 0;">下一页</a>
    </li>
</ul>
<template id="listTpl">
    <tr>
        <td>
            <a target="_blank" href="view-article.html?articleId={{articleId}}" class="text-primary">
                {{articleName}}
            </a>
        </td>
        <td class="content">{{content}}</td>
        <td>{{username}} </td>
        <td>{{createTime}}</td>
        <td>
            <a data-id="{{_id}}" href="javascript: void 0;" class="text-danger delete">删除</a>
        </td>
    </tr>
</template>