<link rel="stylesheet" href="/styles/home.css">
<div class="top-title">文章列表</div>
<form class="form-inline mt-3">
    <label for="secret">可见性：</label>
    <select name="secret" class="form-control" id="secret">
        <option value="">全部</option>
        <option value="false">公开</option>
        <option value="true">仅自己可见</option>
    </select>
    <label class="ml-3" for="draft">状态：</label>
    <select name="draft" class="form-control" id="draft">
        <option value="">全部</option>
        <option value="false">已发布</option>
        <option value="true">草稿</option>
    </select>
</form>
<div class="article-list">
</div>
<bs-pagination style="display: none;"></bs-pagination>
<a href="/edit-article" target="_blank" class="btn btn-primary add-btn">+</a>