<div class="layer">
    <button class="close-layer">&times;</button>
    <slot></slot>
</div>
<style>
    :host {
        display: block;
    }

    .close-layer {
        --size: 24px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: var(--size);
        height: var(--size);
        padding: 0;
        border: none;
        border-radius: 50%;
        line-height: initial;
        outline: none;
        z-index: 10;
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        background-color: #dc3545;
        transform: translate(50%, -50%);
        cursor: pointer;
    }

    .close-layer:hover {
        background-color: #c82333;
    }

    .close-layer:active {
        box-shadow: 0 0 0 .2rem rgba(225,83,97,.5);
    }

    .layer {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        opacity: 0;
        transition: all .3s;
        transform: scale(0) rotate(360deg);
        z-index: 99999;
    }

    .layer.show {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
</style>