.article-card {
    transition: all .5s;
    &:hover {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
        transform: translateY(-10px);
    }
    .article-title > div:first-child {
        span {
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .article-summary {
        cursor: pointer;
    }
    .tag-list {
        margin-top: 10px;
        min-height: 24px;
        line-height: 24px;
    }
    .tag {
        padding: 5px;
        color: #666;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        background-color: #f0f0f0;
        margin-right: 10px;
    }
    .article-action {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        >div:first-child span {
            color: #999;
            svg {
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
    .action-item {
        &+.action-item {
            margin-left: 10px;
        }
    }
}