.articles-container {
    display: flex;
}

.admin-article-list {
    // padding: 10px;
    margin-top: -10px;

    .article-card {
        margin-top: 20px;
    }

    .article-summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 45px;
        overflow: hidden;
    }
}

.article-nav {
    width: 200px;
    margin-right: 20px;
}