@import "../../common/minxinVariable";
.add-new-wrapper {
    position: fixed;
    bottom: 30px; //back to top button's width 50px and 20px from right border of container
    //the wrapper margin right 10px
    right: calc(50% - #{$maxWidth / 2} + 80px);
    width: 50px;
    .v-btn {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 50%;
        svg {
            vertical-align: middle;
            path {
                fill: #fff;
            }
        }
    }
    .addition-type {
        transform-origin: bottom center;
        transition: all .3s;
        .v-btn {
            margin-bottom: 10px;
        }
    }
}
.article-list {
    border: 1px solid $defaultColor;
    li {
        display: flex;
        padding: 10px 0;
        text-align: center;
        &+li {
            border-top: 1px solid $defaultColor;
        }
        &:first-child {
            font-weight: bold;
        }
        >span {
            flex-shrink: 0;
            &:nth-child(1),
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3),
            &:nth-child(5) {
                width: 10%;
            }
            &:nth-child(4) {
                width: 22%;
            }
            &:last-child {
                flex-grow: 1;
            }
            a {
                padding: 0 3px;
                color: $primaryColor;
                &:hover {
                    color: $primaryHoverColor;
                }
                &.del {
                    color: $dangerColor;
                    &:hover {
                        color: $dangerHoverColor
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .article-list li>span {
        display: none;
        &:first-child,
        &:last-child {
            display: block;
            width: 50%;
        }
        a {
            padding: 0 5px;
        }
    }
}
@media screen and (max-width: $maxWidth) {
    .add-new-wrapper {
        right: 80px;
    }
}

.scale-fade-enter,
.scale-fade-leave-to {
    transform: scaleY(0);
    opacity: 0;
}

.scale-fade-enter-to,
.scale-fade-leave {
    transform: scaleY(1);
    opacity: 1;
}