@import "../../common/styles/variables";

.admin-article-list {
    // padding: 10px;
    margin-left: 220px;

    .article-summary {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 45px;
        overflow: hidden;
    }
}

.article-nav {
    position: fixed;
    top: 80px;
    width: 200px;
    margin-right: 20px;

    li {
        padding: 0;
    }

    .nav-link {
        display: inline-block;
        line-height: 32px;
        width: 100%;
        padding: 0 15px;
        &.active {
            background-color: $infoColor;
            color: #fff;
        }
    }
}