.version-container {
    .row {
        display: flex;
        margin: 10px 0;

        span {
            width: 8%;
        }
    }
    .form-control {
        flex: 1;
    }

    .content {
        padding: 8px;
        min-height: 100px;
    }
}