@import "../../common/styles/variables";

.admin-nav-bar {

    .toolbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #24292e;
    }

    .nav-left,
    .nav-right {
        display: flex;
        align-items: center;
    }

    .nav-link {
        position: relative;
        $color: #61dafb;

        &:hover {
            color: $color;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background-color: $color;
            transform: scale(0);
            transition: all .3s;
        }

        &.active {
            color: $color;

            &::after {
                transform: scale(1);
            }
        }
    }
}