.admin-nav-bar {
    display: flex;
    justify-content: space-between;
    .nav-left,
    .nav-right {
        display: flex;
        align-items: center;
    }
    
    .nav-link {
        position: relative;
        margin-left: 15px;
        color: #fff;
        &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #fff;
            transform: scale(0);
            transition: all .3s;
        }

        &.active::after {
            transform: scale(1);
        }
    }
}