@import "../styles/variables";

.calendar-wrapper {
    padding: 10px;
    background-color: #fff;

    .calendar-action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin: 0;
            padding: 0;
        }
    }

    .week-list {
        color: #555;
    }

    .other-mon {
        color: #999;
    }

    .flex-end {
        justify-content: flex-end;
    }

    .today {
        color: #fff;
        background-color: $primaryColor;
    }

    .current-info {
        cursor: pointer;
    }

    .festival {
        display: inline-block;
        width: 100%;
        font-size: 12px;
        text-align: center;
    }

    .status {
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        line-height: 12px;
        color: red;
        font-size: 12px;
    }

    .item-list {
        display: flex;
        padding: 5px 0;
        border-bottom: 1px dashed $defaultBorderColor;
        .week-item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-grow: 0;
            flex-shrink: 0;
            width: 14.2857%;
            height: 36px;
            padding: 0;
        }
    }
}