header {
    color: #fff;
    background-color: rgba(24, 144, 255, .6);
    font-size: 16px;
}

.nav {
    justify-content: flex-end;
    &,
    .nav-menu {
        display: flex;
    }
    .nav-link {
        display: block;
        padding: 12px 15px;
        color: #fff;
    }
    .active {
        background-color: rgba(24, 144, 255, .65);
    }
}