@import "../minxinVariable";
@mixin color($color) {
    color: #fff;
    background-color: $color;
    border-color: $color;
}

.pagination {
    .page-items {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li {
            .page-link {
                display: inline-block;
                padding: 0 10px;
                min-width: 32px;
                height: 32px;
                line-height: 32px;
                border: 1px solid $defaultColor;
                text-align: center;
            }
            &:not(:first-child) .page-link {
                border-left: none;
            }
            &:hover:not(.disabled):not(.active) .page-link {
                @include color($primaryHoverColor);
            }
            &.active .page-link {
                @include color($primaryActiveColor);
                cursor: default;
            }
            &.disabled .page-link {
                color: $disabledColor;
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .pagination .page-items {
        justify-content: center;
        li:not(:first-child):not(:last-child) {
            display: none;
        }
    }
}