@import "../../common/minxinVariable";
.right-user {
    .toggle-dropdown {
        display: inline-flex;
    }
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    .dropdown {
        line-height: 36px;
        transition: all .3s;
        li+li {
            border-top: 1px solid $defaultColor;
        }
    }
}

.slide-fade-in-enter,
.slide-fade-in-leave-to {
    transform: translateY(50%);
    opacity: 0;
}

.slide-fade-in-enter-to,
.slide-fade-in-leave {
    transform: translateY(0);
    opacity: 1;
}