.table {
    table-layout: fixed;
}

.table th:first-child,
.table th:nth-child(2) {
    width: 30%;
}

.table th:nth-child(3),
.table th:nth-child(4) {
    width: 15%;
}

.table th:last-child {
    width: 10%;
}

.text-orange {
    color: orange;
}