html,
body {
    --w100: 100%;
    width: var(--w100);
    height: var(--w100);
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--w100);
    height: var(--w100);
    background: no-repeat center center;
    background-size: cover;
    transition: all .3s;
    z-index: -1;
}

.copyright {
    position: fixed;
    color: #fff;
    left: 15px;
    bottom: 15px;
    text-shadow: -2px -2px 1px rgba(0, 0, 0, .1),
        -1px -1px 1px rgba(0, 0, 0, .1),
        1px 1px 1px rgba(0, 0, 0, .1),
        2px 2px 2px rgba(0, 0, 0, .2),
        3px 3px 3px rgba(0, 0, 0, .3),
        4px 4px 4px rgba(0, 0, 0, .4),
        5px 5px 5px rgba(0, 0, 0, .5);
}

.container {
    height: var(--w100);
}

.login-wrapper {
    width: 380px;
    border-radius: 10px;
    ;
    background-color: rgba(0, 0, 0, .6);
}

.login-wrapper form>.form-group {
    margin: 24px;
}

.login-btn {
    margin-top: 36px;
}

