@import "../styles/variables";

.update-log-container {
    padding-left: 10px;

    .log-list {
        margin-left: 120px;
        margin-top: 10px;
        border-left: 2px solid $infoColor;
    }

    .list-item {
        padding: 10px 0;
        display: block;

        p {
            padding-left: 15px;
        }

        .version-content {
            white-space: pre-wrap;
        }

        p:first-child {
            position: relative;
            margin-bottom: 10px;
            font-size: 20px;

            .time {
                position: absolute;
                transform: translateX(-145px);
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 16px;
                height: 16px;
                padding: 3px;
                border: 2px solid $infoColor;
                border-radius: 50%;
                background-image: radial-gradient($infoColor, $infoColor 30%, #fff 50%, #fff);
                transform: translate(-9px, -50%);
            }
        }
    }
}

@media screen and (max-width: #{$maxResolution}) {
    .responsive {
        .update-log-container {
            padding: 0;

            .list-item {
                p:first-child {
                    font-size: 18px;

                    .time {
                        white-space: nowrap;
                        transform: translateX(-125px);
                    }
                }
            }
        }
    }
}