body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html, body {
    height: 100%;
}

loading-mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
}

loading-mask.transparent {
    background-color: transparent;
}

.container {
    display: flex;
    min-width: 960px;
    max-width: 1200px;
    padding: 0;
    width: 100%
}

sys-nav {
    width: 200px;
    flex-shrink: 0;
}

not-found {
    display: block;
    width: 100%;
}

.main-content {
    width: 100%;
    padding-left: 20px;
}

.add-btn {
    --size: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    padding: 0;
    border-radius: 50%;
    font-size: 36px;
}

.top-title {
    position: sticky;
    top: 0;
    padding: 5px 0 5px 20px;
    margin-left: -20px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    color: #666;
    box-shadow: -2px 1px 5px 0 rgba(0, 0, 0, .3);
    z-index: 10;
}

.page-item {
    user-select: none;
}

.page-item.active .page-link,
.page-item.disabled .page-link {
    pointer-events: none;
}

.modal {
    z-index: 1050;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: 15px;
    z-index: 99999;
}

.message-wrapper .alert {
    display: none;
    max-width: 50%;
    padding: 5px 10px;
    transform: translateY(-100%);
    transition: all .3s;
    opacity: 0;
}

.message-wrapper .alert.show {
    transform: translateY(0);
    opacity: 1;
}

.bs-dialog .modal-header {
    padding-bottom: 0;
    border-bottom: none;
}

.bs-dialog .modal-footer {
    padding-top: 0;
    border-top: none;
}

.custom-control-label::before,
.custom-control-label::after {
    top: .16rem;
}