.ql-editor .ql-font-Microsoft-YaHei {
    font-family: "Microsoft YaHei";
}

.ql-editor .ql-font-SimSun {
    font-family: "SimSun";
}

.ql-editor .ql-font-SimHei {
    font-family: "SimHei";
}

.ql-editor .ql-font-KaiTi {
    font-family: "KaiTi";
}

.ql-editor .ql-font-FangSong {
    font-family: "FangSong";
}

.ql-editor .ql-font-Arial {
    font-family: "Arial";
}

.ql-editor .Times-New-Roman {
    font-family: "Times New Roman";
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
    content: "微软雅黑";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Microsoft-YaHei]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Microsoft-YaHei]::before {
    content: "微软雅黑";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=SimSun]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=SimSun]::before {
    content: "宋体";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=SimHei]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=SimHei]::before {
    content: "黑体";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=KaiTi]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=KaiTi]::before {
    content: "楷体";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=FangSong]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=FangSong]::before {
    content: "仿宋";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Arial]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Arial]::before {
    content: "Arial";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sans-serif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sans-serif]::before {
    content: "sans-serif";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=Times-New-Roman]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=Times-New-Roman]::before {
    content: "Times New Roman";
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: "14px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
    content: "12px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: "14px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: "16px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: "18px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: "20px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: "24px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="36px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
    content: "36px";
}

.editor-container .ql-editor {
    height: 500px;
}


.upload-image-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: all .3s;
}

.upload-image-wrapper.show {
    transform: translateY(0);
    opacity: 1;
}

.upload-image-wrapper .preview-wrapper {
    position: relative;
    background-color: #fff;
    transform: translateY(-50px);
    transition: all .3s;
}

.upload-image-wrapper.show .preview-wrapper {
    transform: translateY(0);
}

.upload-image-wrapper .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    --size: 240px;
    width: var(--size);
    height: var(--size);
    margin: 15px 15px 0;
    border: 1px dashed #333;
    border-radius: 5px;
    background: url(../images/add.svg) no-repeat center center / 50px 50px #fff;
}

.upload-image-wrapper .preview.view {
    border: none;
    background: none;
}

.upload-image-wrapper input,
.upload-image-wrapper img {
    position: absolute;
    z-index: 5;
}

.upload-image-wrapper .preview.view img {
    display: inline-block;
}

.upload-image-wrapper img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

.upload-image-wrapper input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.upload-image-wrapper .close-preview {
    --size: 24px;
    --pos: 0;
    position: absolute;
    right: var(--pos);
    top: var(--pos);
    width: var(--size);
    height: var(--size);
    padding: 0;
    border-radius: 50%;
    line-height: initial;
    z-index: 10;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    transform: translate(50%, -50%);
}

.upload-image-wrapper .progress-wrapper {
    display: none;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 100;
}

.upload-image-wrapper .progress-wrapper.show {
    display: flex;
}

