.comment-management-container {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    .selected-toolbar {
        display: flex;
        align-items: center;
        background-color: rgb(251, 224, 234);
        .selected-num {
            flex: 1;
        }
    }
    .comment-table {
        table-layout: fixed;
        td,
        th {
            padding: 5px 12px;
        }
        th {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            &:first-child {
                width: 10%;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 20%;
            }
        }
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .comment-row {
        cursor: pointer;
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
    }
}