$successColor: #52c41a;
$errorColor: #f5222d;
$infoColor: #1890ff;

.message-wrapper {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 99999;
    pointer-events: none;

    .item-wrapper {
        margin-top: 10px;
    }
}

.message-item {
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #fff;
    animation: enter .3s;
    font-size: 14px;

    &.leave {
        animation-name: leave;
        animation-fill-mode: forwards;
    }

    svg {
        margin-right: 5px;
        vertical-align: top;
    }
    &.success {
        color: $successColor;
        path {
            fill: $successColor;
        }
    }
    &.error {
        color: $errorColor;
        path {
            fill: $errorColor;
        }
       
    }
    &.info {
        color: $infoColor;
        path {
            fill: $infoColor;
        }
    }
}

@keyframes enter {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}