@import "../styles/variables";

.album-images-container {
    .image-list {
        display: flex;
        flex-wrap: wrap;
    }

    .image-item {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 15px 0;
        width: 20%;
        text-align: center;

        dt {
            margin: 0 auto;
        }

        dd {
            padding: 0 5px;
            overflow: visible;
        }

        .ellipsis {
            margin-top: 10px;
            height: 32px;
        }
    }

    .cover-text {
        position: absolute;
        left: 0;
        top: 5px;
        height: 36px;
        width: 36px;
        line-height: 36px;
        border-radius: 50%;
        border: 1xp solid #a00;
        text-align: center;
        transform: rotate(-45deg)
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;

        img {
            max-width: 100%;
            max-height: 100%;
            cursor: pointer;
        }
    }
}

.image-property-dialog {
    .dialog-title h6 {
        @include ellipsis();
    }

    .image-name {
        display: block;
        @include ellipsis();
    }
}

@mixin width($w) {
    .responsive {
        .album-images-container {
            .image-item {
                width: $w;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    @include width(33.33333333%);
}

@media screen and (max-width: 550px) {
    @include width(50%);
}

@media screen and (max-width: 360px) {
    @include width(100%);

    .responsive {
        .album-images-container {
            .image-item {
                .image-wrapper {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}