@import "../styles/variables";

.album-images-container {
    .image-toolbar {
        display: flex;
        .btns {
            display: flex;
            justify-content: flex-end;
            flex: 1;

            button {
                margin-left: 15px;
            }
        }
    }

    .image-list {
        display: flex;
        flex-wrap: wrap;
    }

    .image-item {
        @include flex_center();
        flex-direction: column;
        position: relative;
        margin: 15px 0;
        width: 20%;
        text-align: center;

        .image-name {
            padding: 0 5px;
            margin-top: 10px;
            height: 32px;
            width: 100%;
            overflow: visible;
        }
    }

    .check-item {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 5px;
        background-color: rgba(0, 0, 0, .2);
        cursor: pointer;
        transition: all .3s;

        &.checked {
            border: 1px solid $errorColor;
            box-shadow: 0 0 10px 0 $errorColor;
        }

        .checkbox {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .cover-text {
        position: absolute;
        left: 0;
        top: 0;
        height: 36px;
        width: 36px;
        line-height: 36px;
        border-radius: 50%;
        border: 1px solid $errorColor;
        text-align: center;
        transform: rotate(-45deg);
        z-index: 10;
    }

    .image-wrapper {
        position: relative;
        width: 160px;
        height: 160px;

        img {
            max-width: 100%;
            max-height: 100%;
            cursor: pointer;
        }
    }
}

.image-property-dialog {
    .dialog-title h6 {
        @include ellipsis();
    }

    .image-name {
        display: block;
        @include ellipsis();
    }
}

@mixin width($w) {
    .responsive {
        .album-images-container {
            .image-item {
                width: $w;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    @include width(33.33333333%);
}

@media screen and (max-width: 550px) {
    @include width(50%);
}

@media screen and (max-width: 360px) {
    @include width(100%);

    .responsive {
        .album-images-container {
            .image-item {
                .image-wrapper {
                    width: 200px;
                    height: 200px;
                }
            }
            .image-toolbar .btns button {
                padding: 6px 0;
            }
        }
    }
}