@import "../../common/minxinVariable";
.public-nav-bar {
    color: #fff;
    background-color: rgba(24, 144, 255, .6);
    .nav {
        padding: 0;
        &,
        .nav-menu {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            max-width: $maxWidth;
        }
        .nav-link {
            display: block;
            padding: 12px 15px;
            color: #fff;
            transition: all .3s;
        }
        .active {
            background-color: rgba(24, 144, 255, .65);
        }
    }
}