@import "../styles/variables";

.loading-wrapper {
    @include flex_center();
    @include fixed();
    background-color: rgba(0, 0, 0, .2);
    // pointer-events: none;
    z-index: 999;

    .loading-indicator {
        color: $primaryColor;
    }
}