@import "../../common/styles/variables";

.nav-bar {
    .show-menu-btn {
        display: none;
    }
    
    .nav-link {
        &:hover {
            background-color: rgba(0, 0, 0, .08);
        }

        &.active {
            background-color: rgba(0, 0, 0, .15);
        }
    }
}

.drawer-nav {
    ul {
        padding: 0;
    }

    >div {
        overflow: visible;
    }

    .drawer-menu {
        width: 240px;

        li {
            padding: 0;
        }

        .nav-link {
            width: 100%;
            padding: 10px 15px;

            &.active {
                background-color: $primaryColor;
                color: #fff;
            }
        }
    }

    .hide-menu-btn {
        position: absolute;
        left: 100%;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        color: #fff;
    }
}

@media screen and (max-width: #{$maxResolution}) {
    .nav-bar {
        .show-menu-btn {
            display: inline-flex;
        }

        .nav-menu {
            display: none;
        }
        .toolbar {
            padding: 0;
        }
    }
}