$defaultColor: #d9d9d9;
$defaultBg: #fff;
$defaultTextColor: #666;
$primaryColor: #1890ff;
$primaryHoverColor: #40a9ff;
$primaryActiveColor: #3a8ee6;
$textColor: #fff;

$inputFocusBoxShadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
$inputHeight: 30px;

$maxWidth: 1000px;