$defaultColor: #d9d9d9;
$defaultBg: #fff;
$defaultTextColor: #333;

$primaryColor: #1890ff;
$primaryHoverColor: #40a9ff;
$primaryActiveColor: #3a8ee6;

$textColor: #fff;
$disabledColor: rgba(0, 0, 0, 0.25);

$dangerColor: #f5222d;
$dangerHoverColor: #ff4d4f;
$dangerActiveColor: #cf1322;

$inputFocusBoxShadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
$inputHeight: 30px;

$maxWidth: 1000px;