.fade-in-half-enter,
.fade-in-half-leave-to {
    opacity: 0 !important;
}

.fade-in-half-enter-to,
.fade-in-half-leave {
    opacity: .6 !important;
}

.rotate-y-enter,
.rotate-y-leave-to {
    transform: rotateY(180deg);
}

.rotate-y-enter-to,
.rotate-y-leave {
    transform: rotateY(0deg);
}

.rotate-y-reverse-enter,
.rotate-y-reverse-leave-to {
    transform: rotateY(-180deg);
}

.rotate-y-reverse-enter-to,
.rotate-y-reverse-leave {
    transform: rotateY(0deg);
}