@import "../../styles/variables";
.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
}

.login-center-box {
    position: absolute;
    $margin: 20px;
    width: 320px;
    padding: $margin;
    border-radius: 8px;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px 1px $primaryColor;
    z-index: 10;
    transition: all 1s;
    opacity: .9;
    .input-wrapper {
        margin: $margin 0;
    }
    .remember {
        display: flex;
        justify-content: space-between;
    }
    .login-button {
        width: 100%;
        margin: $margin 0;
    }
    .register-button {
        width: 100%;
    }
    > :last-child {
        display: flex;
        justify-content: flex-end;
    }
    .input-wrapper {
        .code-input {
            width: 120px;
            vertical-align: middle;
        }
        .code-img {
            width: 100px;
            height: 32px;
            border: none;
            margin-left: 10px;
            background-color: red;
        }
    }
}

.login-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #282537;
    background-image: radial-gradient(circle at left top, #3c3b52 0%, #252233 80%);
}