.background-wrapper {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #282537;
        background-image: radial-gradient(circle at left top, #3c3b52 0%, #252233 80%);
        background-size: cover;
        background-position: 0 0, 0 -129px;
        background-repeat: no-repeat;
        transition: all .3s;
        z-index: -1;
    }
    .copyright {
        position: fixed;
        right: 36px;
        bottom: 36px;
        font-size: 12px;
        path {
            fill: #666;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: .5em;
            top: 50%;
            color: #fff;
            transition: all .3s;
            opacity: 0;
        }
        &::before {
            transform: translate(-100%, -50%);
            border: 8px solid transparent;
            border-left-color: rgba(0, 0, 0, .6);
        }
        &::after {
            content: attr(title);
            transform: translate(calc(-100% - 15px), -50%);
            background-color: rgba(0, 0, 0, .6);
            padding: 5px;
            border-radius: 3px;
            width: 18em;
        }
        &:active {
            &::before,
            &::after {
                opacity: 1;
            }
        }
    }
}