@import "../styles/variables";

.image-viewer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999999;

    .loading-wrapper {
        background-color: transparent;
    }

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999999;
    }

    .img-wrapper {
        position: relative;

        img {
            position: absolute;
            cursor: grab;

            &:active,
            &.dragging {
                cursor: grabbing;
            }
        }
    }

    .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-100%, -100%);
        z-index: 10;

        &.nav-prev {
            left: 0;
        }

        &.nav-next {
            right: 0;
        }
    }

    .tool-bar {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        z-index: 99;
    }

    button {
        color: #fff;
    }
}

@media screen and (max-width: #{$maxResolution}) {
    .image-viewer-wrapper {

        .tool-bar,
        .nav-btn {
            display: none;
        }
    }
}