@import "../styles/variables";

.image-viewer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999999;

    .close-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .img-wrapper {
        position: relative;

        img {
            position: absolute;
            cursor: grab;

            &:active,
            &.dragging {
                cursor: grabbing;
            }
        }
    }

    .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%, -50%);
        z-index: 10;

        &.nav-prev {
            left: 0;
        }

        &.nav-next {
            right: 0;
        }
    }

    .tool-bar {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        z-index: 99;
    }

    button {
        color: #fff;
    }
}