.album-property-dialog {
    .info-row {
        display: flex;
        width: 300px;
        margin-bottom: 15px;
        color: #999;

        .label-text {
            flex-shrink: 0;
            width: 25%;
            color: #666;
        }
    }
}