.article-container {
    .error-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-top: 80px;
        overflow: hidden;
        z-index: -1;
        background-color: #fff;
        color: #666;

        .v-btn {
            margin-top: 20px;
        }
    }
}